<h2 mat-dialog-title>
    <button style="width: 100%;padding:0px" mat-raised-button color="accent">
        <i style='font-size:20px' class='fas'>&#xf108;</i>
        Internships
        <i class="material-icons" title="Add" (click)="addInternship()"
        style="font-size: 36px; float:right;vertical-align:middle !important;">
        add_box
    </i>
    </button>
</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-dialog-content>
        <div class="form-group" formArrayName="internships">
            <div class="input-group" *ngFor="let item of form.get('internships')['controls']; let i=index;"
                style="margin-bottom: 20px;width:100%">

                <div [formGroupName]="i" style="margin-bottom: 20px;">
                    <div class="input-group" style="width: 100%;">
                        <input type="text" class="form-control" placeholder="Title" formControlName="title">
                        <span title="Remove" (click)="removeInternship(i)"
                            class="input-group-addon glyphicon glyphicon-trash"></span>
                    </div>
                    <!-- <input type="text" class="form-control" placeholder="Title"
                    formControlName="degree"> -->
                    <textarea type="text" class="form-control" placeholder="Description" formControlName="description">
                        </textarea>


                </div>

            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button (click)="openHobby()" style="margin-right: 10px;" color="accent">
            <i class="glyphicon glyphicon-arrow-left"></i>
          </button>
        <button style="margin-right: 10px;" class="btn btn-success">Save</button>
        <button style="margin-right: 10px;" class="btn btn-danger" (click)="close()">Close</button>
        <button mat-raised-button (click)="openProjects()" color="accent">
            <i class="glyphicon glyphicon-arrow-right"></i>
          </button>
    </mat-dialog-actions>
</form>