<h2 mat-dialog-title>
    <button style="width:100%; padding-right: 0px;" mat-raised-button color="warn">
        <i style='font-size:20px' class='fas'>&#xf501;</i> 
        Courses
        <i class="material-icons" title="Add Course" (click)="addCourse()"
        style="font-size: 36px; float:right;vertical-align:middle !important;">
        add_box
    </i>
    </button>   
</h2>
<form [formGroup]="courseForm" (ngSubmit)="submit()">
    <mat-dialog-content>
        <div class="form-group" formArrayName="courses">
            <div class="input-group" *ngFor="let course of courseForm.get('courses')['controls']; let i=index;">
                <input type="text" class="form-control" placeholder="Ex: Python Programming and Data Structures"
                    [formControlName]="i">
                <span title="Remove" (click)="removeCourse(i)"
                    class="input-group-addon glyphicon glyphicon-trash"></span>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button class="btn-success">Save</button>
        <button mat-raised-button class="btn-danger" (click)="close()">Close</button>
    </mat-dialog-actions>
</form>