
<!-- 
<nav class="navbar navbar-dark">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
        <li><a routerLink='/home' style="color: white;background-color:#337ab7;font-size: 25px">Home</a>
      <li><a routerLink='/home' style="color: white;background-color:#337ab7;">About</a></li>
      <li><a routerLink='/home' style="color: white;background-color:#337ab7;">Contact Us</a></li>
    
    </ul>
  </div>
</nav> -->


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
       <h3 class="header">Resume Builder</h3>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink='/home' >Home</a>
      <li><a routerLink='/home'>About</a></li>
      <li><a routerLink='/home'>Contact Us</a></li>
      </ul>
    </div>
  </nav>


  <router-outlet></router-outlet>