<!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;height: 100px;">
    <img src=".././assets/images/logo.png" alt="Resume Format 1" style="height: 90px;">
    <button mat-raised-button>Create Resume</button>
    <button mat-raised-button>View Templates</button>
    <button mat-raised-button>About</button>
    <button mat-raised-button>Contact Us</button>
    <button mat-raised-button>Change Theme</button>
</nav> -->

<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Resume Builder</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Create Resume</a></li>
        <li><a href="#">View Templates</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </nav> -->

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Resume Builder</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
    </div>
  </nav>