

<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand heading" style="color: #ac2925;font-weight: 20px;font-size: 30px;">RB</p>
    </div>
    <div class="navbar-header">
      <p class="navbar-brand heading" style="color: white;">Resume Builder</p>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink='/home' style="color: white;background-color:#337ab7;">Create Resume</a></li>
      <li class="active"><a routerLink='/home' style="color: white;background-color:#337ab7;">About</a></li>
      <li class="active"><a routerLink='/home' style="color: white;background-color:#337ab7;">Contact Us</a></li>
      <!-- <li><a routerLink='/selectTemplates' style="color: white;background-color:#337ab7;">Select Templates</a></li> -->
      <!-- <li><a routerLink='/downloadResume' style="color: white;background-color:#337ab7;">Select Templates</a></li> -->
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>