
.btn-squared-default
    {
        width: 150px !important;
        height: 150px !important;
        font-size: 15px;
    }

        .btn-squared-default:hover
        {
            border: 1px solid white;
            font-weight: 800;
            border-radius: 0px;
        }

    .btn-squared-default-plain
    {
        width: 160px !important;
        height: 160px !important;
        font-size: 16px;
        border-radius: 0px;
    }

        .btn-squared-default-plain:hover
        {
            border: 0px solid white;
            border-radius: 0px;
        }

        i{
            font-size:70px;
        }
