<div style="height: 600px;overflow-y: auto;">
    <mat-card class="example-card" style="float: left;margin-right: 20px;">
        <mat-card-header>
          <mat-card-title><mat-checkbox [(ngModel)]="dataTransferService.template1" [color]="color">Keep it Simple..!</mat-checkbox></mat-card-title>
          <mat-card-subtitle>Simplicity at its best. Keeping it simple and straight forward always works wonders.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src=".././assets/images/SampleResume1.JPG">
      </mat-card>
      <mat-card class="example-card" style="float: left;margin-right: 20px;">
        <mat-card-header>
          <mat-card-title><mat-checkbox [(ngModel)]="dataTransferService.template2" [color]="color">First Impression..!</mat-checkbox></mat-card-title>
          <mat-card-subtitle>Upload your best picture. Be confident. Be professional. Remember, first impression is the last impression.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src=".././assets/images/SampleResume2.JPG">
      </mat-card>
      <!-- <mat-card class="example-card" style="float: left;margin-right: 20px;">
        <mat-card-header>
          <mat-card-title><mat-checkbox [(ngModel)]="dataTransferService.template3"  [color]="color">Keep it Simple..!</mat-checkbox></mat-card-title>
          <mat-card-subtitle>Click on the checkbox to select this template</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src=".././assets/images/SampleResume1.JPG">
      </mat-card>    -->
</div>