
  .btn-squared-default-plain
  {
      width: 220px !important;
      height: 300px !important;
      font-size: 16px;
      border-radius: 0px;
      opacity: 0.8;
  }

  .preview-image{
    width: 500px !important;
    height: 700px !important;
    font-size: 16px;
    border-radius: 0px;
  }

      .btn-squared-default-plain:hover
      {
        //   border: 3px solid  rgb(59, 57, 57);
          border-radius: 0px;
          opacity: 1
      }

      i{
          font-size:70px;
      }

.selected{
  border: 3px solid  rgb(37, 35, 35);
  border-radius: 0px;
}

.wrapper {
    display: relative;
    float: left;
 }
 
 .wrapper .material-icons {
   position: absolute;
   top: 10px;
   left: 20px;
   font-size: 40px;
    color: black;
 }

 .icons{
    
   
    font-size: 40px;
    color: black;
 }














 .card-container {
    display: inline-block;
    position: relative;
 }
//  img {
//     opacity: 1;
//     display: block;
//     transition: .5s ease;
//     backface-visibility: hidden;
//  }
 .hoverText {
    position: absolute;
    top:0;
    transition: .5s ease;
    opacity: 0;
 }

 .hoverText2 {
    position: absolute;
    top:0;
    transition: .5s ease;
    opacity: 1;
 }
 .card-container:hover .hoverText {
    opacity: 1;
 }

 

 .caption {
   
    color: black;
    font-size: 30px;
    padding-top:10%;
 }

