<h2 mat-dialog-title>
    <button style="width: 100%;padding-right: 0px;" mat-raised-button color="warn">
        <i class="material-icons">&#xeb3f;</i>
        Work Experience Details
        <i class="material-icons" title="Add" (click)="addWorkExperience()"
            style="font-size: 36px; float:right;vertical-align:middle !important;">
            add_box
        </i>
    </button>

</h2>

<input class="form-control" style="margin-bottom: 20px;" styletype="number" placeholder="Total Work Experience"
                        [(ngModel)]="totalWorkExperience">
<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-dialog-content>
        <div class="form-group" formArrayName="experienceControl">
            <div class="input-group" *ngFor="let item of form.get('experienceControl')['controls']; let i=index;"
                style="margin-bottom: 20px;">
                <div [formGroupName]="i" style="margin-bottom: 20px;">
                    <div class="input-group" style="width: 100%;">
                        <input type="text" class="form-control" placeholder="Job Title/Designation"
                            formControlName="designation">
                        <span title="Remove" (click)="removeWorkExperience(i)"
                            class="input-group-addon glyphicon glyphicon-trash"></span>
                    </div>
                    <!-- <input type="text" class="form-control" placeholder="Title"
                    formControlName="degree"> -->
                    <input type="text" class="form-control" placeholder="Organization"
                        formControlName="organizationName">
                    <textarea type="text" class="form-control" placeholder="Job Description"
                        formControlName="jobDescription"></textarea>
                    <!-- <input type="text" class="form-control" placeholder="Responsibilities"
                        formControlName="responsibility"> -->

                    <input type="text" class="form-control" placeholder="From Date- Ex: May, 2020"
                        formControlName="fromDate">
                    <input type="text" class="form-control" placeholder="To Date- Ex: Aug, 2020"
                        formControlName="toDate">

                    <div class="form-group" formArrayName="responsibilities">
                        <div class="input-group" *ngFor="let res of item.get('responsibilities').controls; let j=index;"
                            style="width:100%">
                            <div [formGroupName]="j">
                                <div class="input-group" style="width: 100%;">
                                    <input type="text" class="form-control" placeholder="Responsibility"
                                        formControlName="responsibility">
                                    <span title="Add" (click)="addResponsibility(i)"
                                        class="input-group-addon glyphicon glyphicon-plus"></span>
                                    <span title="Remove" (click)="removeResponsibility(i,j)"
                                        class="input-group-addon glyphicon glyphicon-minus"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button style="margin-right: 10px;" mat-raised-button (click)="openEducation()" color="accent">
            <i class="glyphicon glyphicon-arrow-left"></i>
          </button>
        <button style="margin-right: 10px;" class="btn btn-success">Save</button>
        <button style="margin-right: 10px;" class="btn btn-danger"  (click)="close()">Close</button>
        <button (click)="openHobby()" mat-raised-button color="accent">
            <i class="glyphicon glyphicon-arrow-right"></i>
          </button>
    </mat-dialog-actions>
</form>