<h2 mat-dialog-title>
    <button style="width: 100%;padding-right: 0px;" mat-raised-button color="warn">
        <i class="material-icons">&#xeb3f;</i>
        Work Experience Details
        <i class="material-icons" title="Add" (click)="addWorkExperience()"
            style="font-size: 36px; float:right;vertical-align:middle !important;">
            add_box
        </i>
    </button>

</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-dialog-content>
        <div class="form-group" formArrayName="experienceControl">
            <div class="input-group" *ngFor="let item of form.get('experienceControl')['controls']; let i=index;"
                style="margin-bottom: 20px;">

                <div [formGroupName]="i" style="margin-bottom: 20px;">
                    <div class="input-group" style="width: 100%;">
                        <input type="text" class="form-control" placeholder="Job Title/Designation"
                            formControlName="designation">
                        <span title="Remove" (click)="removeWorkExperience(i)"
                            class="input-group-addon glyphicon glyphicon-trash"></span>
                    </div>
                    <!-- <input type="text" class="form-control" placeholder="Title"
                    formControlName="degree"> -->
                    <input type="text" class="form-control" placeholder="Organization" formControlName="organizationName">
                    <input type="text" class="form-control" placeholder="Job Description"
                        formControlName="jobDescription">
                    <input type="text" class="form-control" placeholder="Responsibilities"
                        formControlName="responsibility">
                    <input type="text" class="form-control" placeholder="From Date- Ex: May, 2020"
                        formControlName="fromDate">
                    <input type="text" class="form-control" placeholder="To Date- Ex: Aug, 2020"
                        formControlName="toDate">
                </div>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button class="btn-success">Save</button>
        <button mat-raised-button class="btn-danger" (click)="close()">Close</button>
    </mat-dialog-actions>
</form>