.container {
  width: 100%;
  
}

.one {
  width:35%;
  float: left;
}

.two {
 
  margin-top:80px;
  
}

button{
    margin-right:10px;
    margin-bottom:10px;
}

// button{
//     width:50%;
//     margin-bottom:20px;
//     margin-left:20px;
//     align-self: center;
// }