<section class="container">
    <div class="id_resume_fields">
        <div>
            <img src=".././assets/images/logo.png" alt="Resume Format 1">
        </div>
        <br>
        <div>
            <button mat-raised-button class="personal_info_button" color="primary" (click)="openPersonalDetails()"><i class="material-icons">&#xe55a;</i> Personal Info </button>
            <button style="float:right; width: 55%;" mat-raised-button color="accent" (click)="openEducation()"><i style='font-size:20px' class='fas fa-graduation-cap'></i> Educational Details</button>
            <button style="width: 65%;" mat-raised-button color="warn" (click)="openWorkExperience()"><i class="material-icons">&#xeb3f;</i> Work Experience Details</button>
            <button style="width: 30%; float:right" mat-raised-button color="primary" (click)="openHobby()"><i style='font-size:24px' class='fas'>&#xf7a6;</i> Hobbies</button>
            <button style="width: 45%;" mat-raised-button color="accent" (click)="openInternship()"><i style='font-size:20px' class='fas'>&#xf108;</i> Internships</button>
            <button style="width:50%; float:right;" mat-raised-button color="primary" (click)="openProjects()"><i style='font-size:20px' class='far'>&#xf15c;</i>
                Projects/Research Papers </button>
            <button style="width:20%" mat-raised-button color="primary" (click)="openSkill()"><i class="material-icons">&#xe55a;</i> Skills </button>
            <button style="width:75%; float:right;" mat-raised-button color="warn" (click)="openExtraCurricular()"><i style='font-size:20px' class='fas'>&#xf1e3;</i>
                Co-Curricular/Extra-Curricular Activites</button><br>
            <button style="width: 30%;" mat-raised-button color="accent" (click)="openAchievement()"><i style='font-size:20px' class='fas'>&#xf091;</i> Achievements</button>
            <button style="width: 30%; align-self: center;" mat-raised-button color="primary" (click)="openTraining()"><i style='font-size:24px' class='fas'>&#xf51c;</i>
                Trainings </button>
            <button style="width:32%; float:right;" mat-raised-button color="warn" (click)="openCourse()"><i style='font-size:20px' class='fas'>&#xf501;</i> Courses</button>   
        </div>
    </div>
    <div class="two">
        <img src=".././assets/images/resume-sample-1.jpg" class="id_resume_sample" alt="Resume Format 1">
        <img src=".././assets/images/resume-sample-2.jpg" class="id_resume_sample" alt="Resume Format 1">
    </div>

</section>

<button (click)="onSelectFile()">Get Photo</button>
<div *ngIf="url">
    <img [src]="url" height="200"> <br/>

</div>

<app-pdf></app-pdf>


<!-- <i style='font-size:24px' class='fas'>&#xf501;</i> -->