<section class="container">
    <div class="one">
        <div>
            <img src=".././assets/images/logo.png" alt="Resume Format 1">
        </div>
        <div>
            <button mat-raised-button color="save">Basic</button>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
            <button mat-raised-button disabled>Disabled</button>
        </div>

    </div>
    <div class="two">
        <img src=".././assets/images/resume-sample-1.jpg" style="width: 32%; height:90%" alt="Resume Format 1">
        <img src=".././assets/images/resume-sample-2.jpg" style="width: 32%; height:90%" alt="Resume Format 1">
    </div>

</section>