<h2 mat-dialog-title><button mat-raised-button style="width:100%;" color="primary"><i class="material-icons">&#xe55a;</i> Personal Info </button>
</h2>
<form novalidate #personalDetails="ngForm" (ngSubmit)="submit(personalDetails)">
<mat-dialog-content>
 
    <div class="form-group" style="padding-bottom: 35px;">
      <label for="name" style="display:block">Name</label>
      <input type="text" placeholder="First Name" class="form-control" style="width:49%; display: inline; float:left;"
        name="fname" [(ngModel)]="personalDetailsClass.fname" required>
      <input type="text" placeholder="Last Name" class="form-control" style="width:49%; display:inline; float:right;"
        name="lname" [(ngModel)]="personalDetailsClass.lname">
    </div>

    <div class="form-group">
      <label for="qualification">Qualification</label>
      <input type="text" placeholder="Highest Qualification/Degree" class="form-control" name="qualification" [(ngModel)]="personalDetailsClass.qualification" required>
    </div>

    <div class="form-group">
      <label for="Email">Email</label>
      <input type="text" required placeholder="Email-id" class="form-control" name="email" [(ngModel)]="personalDetailsClass.email" >
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" required placeholder="Contact Number" class="form-control" name="phoneNumber" [(ngModel)]="personalDetailsClass.phoneNumber">
    </div>

    <div class="form-group">
      <label for="linkedIn">LinkedIn URL</label>
      <input type="text" placeholder="LinkedIn URL" class="form-control" name="linkedIn" [(ngModel)]="personalDetailsClass.linkedIn">
    </div>

    <div class="form-group">
      <label for="photo">Upload Photo</label>
      <input type="file" (change)="onSelectFile($event)" class="form-control" name="photoUrl" [(ngModel)]="personalDetailsClass.photoUrl">
    </div>
    <!-- <input type="file" (change)="onFileSelected($event)">
    <button type="button" (click)="onUpload()">Upload</button> -->
    <div *ngIf="selectedFile">
      <img [src]="url" height="200"> <br/>
    </div>

    <!-- <input type='file' (change)="onSelectFile($event)"> -->
</mat-dialog-content>
</form>
<mat-dialog-actions align="end">
  <button style="margin-right: 10px;" class="btn btn-success" (click)="submit()">Save</button>
    <button class="btn btn-danger" (click)="close()">Close</button>
    <button (click)="openEducation()" mat-raised-button color="accent">
      <i class="glyphicon glyphicon-arrow-right"></i>
    </button>
</mat-dialog-actions>
